tickTime={{ zookeeper.tick_time }}
initLimit={{ zookeeper.init_limit }}
syncLimit={{ zookeeper.sync_limit }}
dataDir={{ zookeeper.data_dir }}
4lw.commands.whitelist=*
standaloneEnabled=false
skipACL=yes
reconfigEnabled=true
dynamicConfigFile={{ zookeeper.dynamic_conf_file }}
