tickTime={{ zookeeper.tick_time }}
initLimit={{ zookeeper.init_limit }}
syncLimit={{ zookeeper.sync_limit }}
dataDir={{ zookeeper.data_dir }}
clientPort=2181
standaloneEnabled=false
dynamicConfigFile={{ zookeeper.dynamic_conf_file }}
